@using Dignite.Abp.FieldCustomizing.Blazor
@using Dignite.Abp.FieldCustomizing.FieldControls
@using Dignite.Abp.FieldCustomizing.FieldControls.Table
@using Dignite.Abp.FieldCustomizing.FieldControls.Textbox
@using System.Collections.Immutable
@using Dignite.Abp.FieldCustomizing.Localization
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.BlazoriseUI.Components
@inject IEnumerable<IFieldControlProvider> FieldControlProviders
@inject AbpBlazorMessageLocalizerHelper<DigniteAbpFieldCustomizingResource> LH
@inject IFieldControlConfigurationComponentSelector fieldControlConfigurationComponentSelector
@inherits FieldControlConfigurationComponentBase

<Validation>
    <Field>
        <FieldLabel>@L["FieldName"]</FieldLabel>
        <TextEdit MaxLength="64" @bind-Text="@Definition.Name" />
    </Field>
</Validation>

<Validation>
    <Field>
        <FieldLabel>@L["FieldDisplayName"]</FieldLabel>
        <TextEdit @bind-Text="@Definition.DisplayName" />
    </Field>
</Validation>
<Validation>
    <Field>
        <FieldLabel>@L["Description"]</FieldLabel>
        <TextEdit @bind-Text="@Configuration.Description" />
    </Field>
</Validation>

<Field>
    <FieldLabel>@L["CustomTableColumns"]</FieldLabel>
    <Table>
        <TableHeader>
            <Blazorise.TableRow>
                <TableHeaderCell>@L["TableColumnDisplayName"]</TableHeaderCell>
                <TableHeaderCell>@L["FieldControl"]</TableHeaderCell>
                <TableHeaderCell>
                    <Button @onclick="@AddTableColumn"><Icon Name="IconName.PlusCircle" /></Button>
                </TableHeaderCell>
            </Blazorise.TableRow>
        </TableHeader>
        <TableBody>
            @foreach(var column in TableColumns)
            {
                <Blazorise.TableRow>
                    <TableRowCell><TextEdit @bind-Text="@column.FieldDefinition.DisplayName" /></TableRowCell>
                    <TableRowCell>
                        <Validation Validator="((e)=>ValidateColumnFieldControl(e))">
                        <Select TValue="string" SelectedValue="@column.FieldDefinition.FieldControlProviderName" SelectedValueChanged="(val => OnSelectedValueChanged((string)val, column))">
                            <SelectItem TValue="string" Value="null">@L["SelectFieldControls"]</SelectItem>
                            @if (AllFieldControlProviders != null)
                            {
                                foreach (var p in AllFieldControlProviders)
                                {
                                    <SelectItem TValue="string" Value="@p.Name">@p.DisplayName</SelectItem>
                                }
                            }                            
                        </Select>
                        </Validation>
                    </TableRowCell>
                    <TableRowCell>
                        <Button @onclick="@(val => OnSelectedValueChanged(column.FieldDefinition.FieldControlProviderName, column))"><Icon Name="IconName.Edit" /></Button>
                        <Button @onclick="@(val => RemoveTableColumn(val, column))"><Icon Name="IconName.Remove" /></Button>
                    </TableRowCell>
                </Blazorise.TableRow>
            }
        </TableBody>
    </Table>
</Field>


    <Blazorise.Modal @ref="FieldControlConfigModal" Closing="@ClosingEditModal">
        <Blazorise.ModalContent Centered="true">
            <Blazorise.Form>
                <Blazorise.ModalHeader>
                    <Blazorise.ModalTitle>@L["FieldControlConfiguration"]</Blazorise.ModalTitle>
                    <Blazorise.CloseButton Clicked="CloseAuditModalAsync" />
                </Blazorise.ModalHeader>
                <Blazorise.ModalBody>
                    <Blazorise.Validations @ref="@AuditValidationsRef" Model="@filedControlConfigurationSelectedParameters" ValidateOnLoad="false">                        
                        <!------------- selected field control configuration component ------------------------------------->
                        @if (filedControlConfigurationSelectedType is not null)
                        {
                            <DynamicComponent Type="@filedControlConfigurationSelectedType" Parameters='@filedControlConfigurationSelectedParameters' />            
                        }
                    </Blazorise.Validations>
                </Blazorise.ModalBody>
                <Blazorise.ModalFooter>
                    <Blazorise.Button Color="Blazorise.Color.Secondary" Clicked="CloseAuditModalAsync">@L["Cancel"]</Blazorise.Button>                                
                    <SubmitButton Clicked="@SaveFieldControlConfigAsync" />
                </Blazorise.ModalFooter>
            </Blazorise.Form>
        </Blazorise.ModalContent>
    </Blazorise.Modal>
@code{

    public override Type FieldControlProviderType => typeof(TableFieldControlProvider);
    ImmutableList<IFieldControlProvider> AllFieldControlProviders;
    TableConfiguration Configuration;
    List<TableColumn> TableColumns;

    //选中字段的控件配置组件
    private Type? filedControlConfigurationSelectedType;

    //选中字段控件配置项组件的参数
    Dictionary<string, object> filedControlConfigurationSelectedParameters = new();
    private Modal FieldControlConfigModal;
    private Validations AuditValidationsRef;

    protected override Task OnInitializedAsync()
    {
        AllFieldControlProviders = FieldControlProviders.Where(p=>p.ControlType== FieldControlType.Simple).ToImmutableList();
        return base.OnInitializedAsync();
    }

    protected override void OnParametersSet()
    {
        Configuration = new TableConfiguration(Definition.Configuration);
        TableColumns = Configuration.TableColumns;
        if (!TableColumns.Any())
        {
            AddTableColumn();
        }
    }
    private void AddTableColumn()
    {
        var column = new TableColumn(
                new BasicCustomizeFieldDefinition(
                    "",
                    "",
                    null,
                    "",
                    new FieldControlConfigurationDictionary()
                )
            );
        TableColumns.Add(column);            
        Configuration.TableColumns=TableColumns;
    }

    private void RemoveTableColumn(MouseEventArgs e,TableColumn item)
    {
        TableColumns.Remove(item);
        Configuration.TableColumns=TableColumns;
    }

    private async Task OnSelectedValueChanged(string fieldControlProviderName,TableColumn column)
    {
        column.FieldDefinition.FieldControlProviderName = fieldControlProviderName;
        if (fieldControlProviderName != L["SelectFieldControls"].Value)
        {
            var component = fieldControlConfigurationComponentSelector.Get(fieldControlProviderName);

            filedControlConfigurationSelectedParameters = new Dictionary<string, object>();
            filedControlConfigurationSelectedParameters.Add("Definition", column.FieldDefinition);
            filedControlConfigurationSelectedType = component.GetType();

            await OpenFieldControlConfigModalAsync();
        }
    }

    private async Task OpenFieldControlConfigModalAsync()
    { 
        await InvokeAsync(async () =>
        {
            StateHasChanged();
            await FieldControlConfigModal.Show();
        });
    }

    private async Task SaveFieldControlConfigAsync()
    {
        try
        {
            var validate = true;
            if (AuditValidationsRef != null)
            {
                validate = await AuditValidationsRef.ValidateAll();
            }
            if (validate)
            {
                Configuration.TableColumns = TableColumns;
                await InvokeAsync(FieldControlConfigModal.Hide);
            }
        }
        catch (Exception ex)
        {
            await HandleErrorAsync(ex);
        }        
    }

    protected virtual Task ClosingEditModal(ModalClosingEventArgs eventArgs)
    {
        // cancel close if clicked outside of modal area
        eventArgs.Cancel = eventArgs.CloseReason == CloseReason.FocusLostClosing;

        return Task.CompletedTask;
    }

    protected virtual Task CloseAuditModalAsync()
    {
        InvokeAsync(FieldControlConfigModal.Hide);
        return Task.CompletedTask;
    }

    void ValidateColumnFieldControl(ValidatorEventArgs e)
    {
        e.Status = Convert.ToString(e.Value) == L["SelectFieldControls"].Value
            ? ValidationStatus.Error
            : ValidationStatus.Success;
    }
}